BACKGROUND = #27ae60
BELL = #fed274


.pane 
    
    cursor pointer
    height 140px
    margin 50px auto
    width 150px
    position relative

.bell
    height 100%
    background-color BELL
    border-radius 100px 100px 0 0
    position relative
    width 100%

    &:after
        content ""
        background darken(BELL, 15%)
        height 10%
        position absolute
        bottom 0
        left -8%
        border-radius 20px
        width 116%

    &:before
        content ""
        // background darken(BELL, 15%)
        border-radius 50%
        box-shadow inset 0 0 0 7px darken(BELL, 15%)
        height 20%
        position absolute
        top -16%
        left 40%
        width 20%
    
.tail
    background darken(BELL, 30%)
    border-radius 100%
    bottom -12%
    content ""
    height 30%
    left 35%
    overflow hidden 
    position absolute
    width 30%
    z-index -1

    &:after
        content ""
        position absolute
        background darken(BELL, 40%)
        height 100%
        left 50%
        width 50%

.face
    background darken(BELL, 30%)
    bottom 20%
    border-radius 100%
    left 38%
    height 25%
    position absolute
    width 25%

    &:before  
        content ""
        background BELL  
        height 40%
        position absolute
        width 100%

.left-eye
.right-eye
    display block
    background darken(BELL, 40%)
    border-radius 100%
    height 10px
    position absolute
    top -12px
    width 10px
    z-index 10  

.left-eye
    left -15px

.right-eye
    right -15px

// Animations
@-webkit-keyframes ringing 
    25%
        -webkit-transform rotate(5deg)
    75%
        -webkit-transform rotate(-5deg)

@-moz-keyframes ringing
    25%
        -moz-transform rotate(5deg)
    75%
        -moz-transform rotate(-5deg)

.pane:hover
    -webkit-animation ringing 0.5s infinite
    -moz-animation ringing 0.5s infinite

.bell:hover .left-eye
.bell:hover .right-eye
    background BELL
    box-shadow 0 0 0 5px darken(BELL, 40%)
    height 15px
    top -5px
    width 18px

.bell:hover .left-eye:after
.bell:hover .right-eye:after
    background BELL
    content ""
    height 100%
    left -50%
    position absolute
    top 40%
    width 300%
    

.bell:hover .face 
    height 30%
    top 52%




