@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700");

BLUE = #010e6a
WHITE = #fff

body
	background-attachment fixed
	background-image linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/phonnz-background5.png)
	background-repeat no-repeat
	background-size cover
	color WHITE
	font-family "Fira Sans", Helvetica
	font-weight normal
	font-style normal
	margin-top 50px
	padding 10px 40px	

footer
	margin-top 20px
	padding 10px

h1
	font-family "Fira Sans", "Exo2", sans-serif
	font-size 6em
	font-weight 800
	letter-spacing -0.05em
h2
h3
	font-family nipey
h2
	font-size 4em
h3
	font-size 3em

strong 
a
	color WHITE
	font-weight 1.5em

.icon-bar
	background-color black

.top-padded
	padding-top 100px

figure 
	img
		display block
		width 100%


	figcaption
		&.image-cover
			font-family nipey
			display hidden
			color WHITE
			position absolute
			&:hover
				display block
				background-color white
				
		&.mate
			top 170px

#phonnz-main
	width width 100%



.red
	margin 1px solid red

ul.social-list
	list-style-type none
	margin-top 100px
	li
		display inline-block
		width 40px
		a
			background-color WHITE
			border-radius 100%
			color BLACK
			display block
			height 40px
			width 100%
			padding 10px 12px